body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F9F3CC;
}

header {
    background-color: #8EACCD;
    color: #D7E5CA;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 10px;
    }

        nav ul li a {
            text-decoration: none;
            color: #333;
        }

section {
    padding: 20px;
}

    section h1 {
        margin-bottom: 20px;
    }

    section img {
        max-width: 100%;
        height: auto;
    }

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #8EACCD;
    padding: 20px;
    text-align: center;
}
