

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://media.istockphoto.com/id/1371339413/photo/co-working-team-meeting-concept-businessman-using-smart-phone-and-digital-tablet-and-laptop.webp?b=1&amp;s=170667a&amp;w=0&amp;k=20&amp;c=GnW36mPEYr3TRpPZNLtT75u8v2HOczvRxGckWUN3hVg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 10px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

    section h1, section h2 {
        color: #333;
    }

    section p {
        margin-bottom: 10px;
    }

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}
